VITE_PUBLIC_API_BASE_URL="http://localhost:3000" # Put in your API Gateway URL
VITE_COGNITO_USER_POOL_ID="" # Put in your Cognito User Pool ID
VITE_COGNITO_APP_CLIENT_ID="" # Put in your Cognito App Client ID
